<!-- Footer -->
 {% load static %}
		<footer id="footer" class="footer section">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="logo">
								<img src="{% static 'img/nnn.png' %}" alt="#">
							</div>
							<!-- Social -->
							<ul class="social">
								<li><a href="https://www.facebook.com/Devomweb"><span class="fa fa-facebook"></span></a></li>
								<li><a href="https://twitter.com/Omar_Qershali"><span class="fa fa-twitter"></span></a></li>
								<li><a href="https://www.instagram.com/omar.qershali/"><span class="fa fa-instagram"></span></a></li>
								<li><a href="https://www.instagram.com/omar.qershali/"><span class="fa fa-instagram"></span></a></li>
								<li><a href="https://www.linkedin.com/in/omar-m-al-qershali-16845b141/"><span class="fa fa-linkedin"></span></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>© 2018 Distributed by DevO</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
