<!-- Slider Area -->
 {% load static %}
		<section id="slider" class="slider" style="background-image:url('{% static 'img/slider.jpg' %}')">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="text">
							<h1>Omar M. Al-Qershali</h1>
							<p>WordPress Developers are responsible for both back-end and front-end development, including creating WordPress themes and plugins. They have different programming skills such as namely PHP, HTML5, CSS3, and JavaScript. They have also understanding of aesthetics (understanding element arrangements on the screen, the color and font choices, and so on).</p>
							<div class="button">
								<a href="#" class="btn primary "><i class="fa fa-briefcase"></i>view work</a>
								<a href="#" class="btn"><i class="fa fa-phone"></i>Contact me</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Slider Area -->

