<!-- Testimonials -->
 {% load static %}
		<section id="testimonials" class="testimonials section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="testi-content">
							<h2>What People Says</h2>
							<div class="owl-carousel testimonial-slider">
								<!--Start single-testimonial -->
								<div class="single-testimonial">
									<img src="{% static 'img/author1.jpg' %}" alt="#">
									<p><i class="fa fa-quote-left"></i><i>“Omar is professional and i will work with him for long term”

									</i></p>
									<div class="star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<span class="name">Essam </span>
								</div>
								<!--End single-testimonial -->
								<!--Start single-testimonial -->
								<div class="single-testimonial">
									<img src="{% static 'img/author2.jpg' %}" alt="#">
									<p><i class="fa fa-quote-left"></i><i>“Technically they did great work in reasonable time however I do feel as if I have been overcharged. However their quality of work was great and done promptly. Thankyou”</i> </p>
									<div class="star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<span class="name">thesupplementvau </span>
								</div>
								<!--End single-testimonial -->
								<!-- Single Testimonial -->
								<div class="single-testimonial">
									<img src="{% static 'img/author1.jpg' %}" alt="#">
									<p><i class="fa fa-quote-left"></i><i>“GREAT to work with”
									</i></p>
									<div class="star">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<span class="name">Mahedi Hasan</span>
								</div>
								<!--/ End Single Testimonial -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End testimonial -->
